@import "~bootstrap/scss/bootstrap.scss";

.app-enter {
    opacity: 0.01;
  }
  
.app-enter.app-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.app-leave {
    opacity: 1;
}

.app-leave.app-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.app-appear {
    opacity: 0.01;
  }
  
.app-appear.app-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}